<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- The path to the resource file -->
    <add key="ResourcePath" value="Resources.resx"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WCFService_Binding" 
                 maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"
                       protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFService_EndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="WCFSystemAdministrator"
                               storeLocation="LocalMachine"
                               storeName="My"
                               x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"
                              revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint
        address="net.tcp://localhost:9999/WCFService"
        binding="netTcpBinding"
        bindingConfiguration="WCFService_Binding"
        contract="WCFServiceCommon.IWCFService"
        name="WCFService_Endpoint"
        behaviorConfiguration="WCFService_EndpointBehavior">
        <identity>
          <dns value="WCFService" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
